/* BackgroundVideo.css */
.video-background {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%; /* Full screen height on desktop */
  z-index: -1;
  object-fit: cover;
  overflow: hidden;
  pointer-events: none; /* Ensures the video does not capture click/tap events */
}

.video-background video {
  width: 100%;
  height: 100%;
}